# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env
.venv

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Project specific
output/
.cache/
logs/
*.log

# Mac OS
.DS_Store
